/* Estilo personalizado para el navbar */
.navbar-custom {
    background-color: #007bff;
    /* Color de fondo azul */
    color: #fff !important;
    /* Color del texto blanco */
}

/* Estilo personalizado para los enlaces del navbar */
.navbar-custom .nav-link {
    color: #fff !important;
    /* Color del texto blanco */
}

/* Estilo personalizado para el enlace activo en el navbar */
.navbar-custom .nav-item.active .nav-link {
    color: #fff !important;
    /* Color del texto blanco */
}

/* Cambiar color del botón de hamburguesa en pantallas pequeñas */
.navbar-toggler-icon {
    background-color: #fff;
    /* Color del botón blanco */
}

/* Cambiar color del botón de hamburguesa cuando está activo */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-color: #fff;
    /* Color del botón blanco */
}

.nav-link {
    font-weight: 600;
}

nav:hover {
    background-color: #2bff00;
    transition: .0.3s;
}

.d-item {
    height: 750px;
}

.d-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* Estilos para el carrusel */
#carouselExample {
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.carousel-inner img:hover {
    transform: scale(1.1);
}

.carousel-caption {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
}

/* Estilos generales para la página */
body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

/*footer*/
/* Estilos generales para la página */
body {
    margin: 0;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

/* Estilos para el logo */
footer img {
    max-width: 100px;
    margin-bottom: 10px;
}

/* Estilos para las redes sociales */
.d-flex a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* Cambiar el color de las redes sociales al pasar el cursor */
.d-flex a:hover {
    color: #007bff;
}

/* Animación de aparición de los elementos */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplicar animación al footer */
footer * {
    animation: fadeIn 1s ease-out;
}

/* Estilos para la sección de ofertas y descuentos */
.special-offers {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.offer {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.offer:hover {
    transform: scale(1.05);
}

.offer h2 {
    color: #007bff;
}

.offer p {
    margin: 10px 0;
}

/* Media queries para la adaptabilidad */
@media (min-width: 800px) {
    .special-offers {
        flex-wrap: nowrap;
    }

    .offer {
        width: 48%;
    }
}

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,500&display=swap');

p {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Inter', sans-serif;
}

a {
    font-family: 'Inter', sans-serif;
}

input {
    font-family: 'Inter', sans-serif;
}

button {
    font-family: 'Inter', sans-serif;
    color: black;
}

h4 {
    font-family: 'Inter', sans-serif; 
}

